#container {
  margin: .5em;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar > ion-label {
  margin-left: .2em;
}

.message {
  margin-top: .6em;
  border-radius: 1em;
  padding: .4em;
  background-color: var(--ion-color-secondary);
}
