<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Users</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container">
        <ion-infinite-scroll *ngFor="let user of users" threshold="100px" (ionInfinite)="loadMoreUsers($event)">
            <ion-infinite-scroll-content (click)="goToUser(user.id)" loadingSpinner="bubbles"
                                         loadingText="Loading more users...">
                <ion-item color="dark">
                    <ion-avatar>
                        <img *ngIf="user.avatar" [src]="user.avatar" alt="{{ user.name }}'s avatar"/>
                    </ion-avatar>
                    <ion-label>{{user.name}}</ion-label>
                    <small>{{user.email}}</small>
                </ion-item>
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
