<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{user.name}}'s profile</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="editProfile()">
                <ion-icon name="pencil"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container">
        <div class="banner" [ngStyle]="{'background-image': 'url(' + user.banner + ')'}">
            <ion-button (click)="setNewBanner()">
                <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
            <div class="avatarAndUsername">
                <ion-avatar (click)="setNewAvatar()">
                    <img *ngIf="user.avatar" [src]="user.avatar" alt="{{ user.name }}'s avatar"/>
                </ion-avatar>
                <ion-label>{{user.name}} | {{user.email}}</ion-label>
            </div>
        </div>
        <p *ngIf="user.signUpDate">Member since: {{user.signUpDate}}</p>
        <p *ngIf="user.description">{{user.description}}</p>
        <div class="buttons">
            <ion-button [routerLink]="['/lists/' + user.id]">Lists of {{user.name}}</ion-button>
        </div>
    </div>
</ion-content>
