<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Your profile</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="editProfile()">
                <ion-icon name="pencil"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container">
        <div class="banner" [ngStyle]="{'background-image': 'url(' + user.banner + ')'}">
            <ion-button (click)="setNewBanner()">
                <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
            <div class="avatarAndUsername">
                <ion-avatar (click)="setNewAvatar()">
                    <img *ngIf="user.avatar" [src]="user.avatar" alt="{{ user.name }}'s avatar"/>
                </ion-avatar>
                <ion-label>{{user.name}} | {{user.email}}</ion-label>
            </div>
        </div>
        <div class="profileData">
            <p *ngIf="user.signUpDate">Member since: {{user.signUpDate.toDateString()}}</p>
            <p *ngIf="user.description">{{user.description}}</p>
            <ng-container *ngIf="user.steam">
                <p *ngIf="user.steam.length != 0">
                    <ion-icon name="logo-steam"></ion-icon>
                    <a
                            href="https://steamcommunity.com/id/{{user.steam}}">{{user.steam}}</a></p>
            </ng-container>
            <ng-container *ngIf="user.playstation">
                <p *ngIf="user.playstation.length != 0">
                    <ion-icon name="logo-playstation"></ion-icon>
                    <a
                            href="https://my.playstation.com/profile/{{user.playstation}}">{{user.playstation}}</a></p>
            </ng-container>
            <ng-container *ngIf="user.xbox">
                <p *ngIf="user.xbox.length != 0">
                    <ion-icon name="logo-xbox"></ion-icon>
                    <a
                            href="https://account.xbox.com/es-es/profile?gamertag={{user.xbox}}">{{user.xbox}}</a></p>
            </ng-container>
            <div class="buttons">
                <ion-button [routerLink]="['/lists/' + user.id]">Lists of {{user.name}}</ion-button>
            </div>
        </div>
    </div>
</ion-content>
