<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{user.name}}'s profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{user.name}}</ion-title>
  <p>{{user.email}}</p>
  <ion-avatar (click)="setNewAvatar()">
    <img [src]="imageSrc" alt="{{ user.name }}'s avatar"/>
  </ion-avatar>
  <ion-card>
    <ion-card-header>{{user.name}}</ion-card-header>
  </ion-card>
</ion-content>
