<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Sign up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
        <form (ngSubmit)="signup(localForm)" #localForm="ngForm">
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="user.email" type="email" name="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input [(ngModel)]="user.name" type="name" name="name" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
            </ion-item>
            <ion-button type="submit">Sign up</ion-button>
        </form>
    </div>
</ion-content>
