<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" [icon]="buttonIcon"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="user">{{user.name}}'s profile</ion-title>
        <ion-buttons slot="secondary">
            <ion-button *ngIf="user" (click)="sendMessage(user.id)">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container" *ngIf="user">
        <div class="banner" [ngStyle]="{'background-image': 'url(' + user.banner + ')'}">
            <div class="avatarAndUsername">
                <ion-avatar>
                    <img *ngIf="user.avatar" [src]="user.avatar" alt="{{ user.name }}'s avatar"/>
                </ion-avatar>
                <ion-label>{{user.name}} | {{user.email}}</ion-label>
            </div>
        </div>
        <p *ngIf="user.signUpDate">Member since: {{user.signUpDate}}</p>
        <p *ngIf="user.description">{{user.description}}</p>
        <ng-container *ngIf="user.steam">
            <p *ngIf="user.steam.length != 0">
                <ion-icon name="logo-steam"></ion-icon>
                <a
                        href="https://steamcommunity.com/id/{{user.steam}}">{{user.steam}}</a></p>
        </ng-container>
        <ng-container *ngIf="user.playstation">
            <p *ngIf="user.playstation.length != 0">

                <ion-icon name="logo-playstation"></ion-icon>
                <a
                        href="https://my.playstation.com/profile/{{user.playstation}}">{{user.playstation}}</a></p>
        </ng-container>
        <ng-container *ngIf="user.xbox">
            <p *ngIf="user.xbox.length != 0">
                <ion-icon name="logo-xbox"></ion-icon>
                <a
                        href="http://live.xbox.com/Profile?Gamertag={{user.xbox}}">{{user.xbox}}</a></p>
        </ng-container>
        <div class="buttons">
            <ion-button [routerLink]="['/lists/' + user.id]">Lists of {{user.name}}</ion-button>
        </div>
    </div>
</ion-content>
