<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user">{{user.name}}'s profile</ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="user" (click)="sendMessage(user.id)">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let list of lists">
    <p>{{list.title}}</p>
  </ion-card>
</ion-content>
