<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" [icon]="buttonIcon"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="game">{{game.title}}</ion-title>
        <ion-buttons slot="secondary">
            <ion-button *ngIf="_authService.user | async" (click)="addToList()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <div id="container">
        <div *ngIf="game" class="gameBackground" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.8), ' +
   'rgba(0, 0, 0, 0.7)), url(' + game.image + ')'}">
            <p *ngIf="game.developers">Developed by: {{game.developers}}</p>
            <small>{{game.description}}</small>
            <small *ngIf="game.dlcDescription">{{game.dlcDescription}}</small>
            <div class="ratings">
                <p *ngIf="game.ratings">Rating: {{game.ratings}} / 5</p>
                <p *ngIf="game.esrb">ESRB Rating: {{game.esrb}}</p>
            </div>
            <div *ngIf="this.game.avgCompletion">
                <p>Average completion time</p>
                <small *ngIf="this.game.avgCompletion[0]">Main story: {{this.game.avgCompletion[0]}} hours</small>
                <small *ngIf="this.game.avgCompletion[1]">Story and extras: {{this.game.avgCompletion[1]}} hours</small>
                <small *ngIf="this.game.avgCompletion[2]">Completion: {{this.game.avgCompletion[2]}} hours</small>
            </div>
            <p>Available in: </p>
            <ion-buttons>
                <ion-button *ngFor="let platform of game.platforms"
                            (click)="goToPlatform(platform.id)">{{platform.name}}</ion-button>
            </ion-buttons>
            <h2>Labels</h2>
            <div class="labels">
                <div class="label" *ngFor="let label of game.labels">
                    <p>{{label.name}}</p>
                    <small>{{label.description}}</small>
                </div>
            </div>
            <ng-container *ngIf="game.labels != undefined">
                <p *ngIf="game.labels.length == 0">This game has no labels yet</p>

                <p>Are these labels inaccurate? Send us a request to change {{game.title}}'s info about labels pressing
                    the
                    button below!</p>
                <ion-button (click)="goToLabelInput()">Press here to change labels</ion-button>
            </ng-container>
            <p *ngIf="game.stores">Where to buy {{game.title}}:</p>
            <div class="stores">
                <a [href]="store.url" *ngFor="let store of this.game.stores">{{store.name}}</a>
            </div>
        </div>
    </div>
</ion-content>
