<ion-app>
    <ion-menu side="start" menuId="first" contentId="menu">
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
        <ion-content id="menu" class="menu" color="secondary">
            <p *ngIf="_authService.user | async">{{ (_authService.user | async)?.email}}</p>
                <ion-button color="secondary" *ngIf="!(_authService.user | async)" (click)="goToLogin()">Login
                </ion-button>
            <ion-button color="secondary" *ngIf="!(_authService.user | async)" (click)="goToSignUp()">SignUp
            </ion-button>
                <ion-button color="secondary" *ngIf="_authService.user | async" [routerLink]="['/profile']">Profile</ion-button>
            <ion-button color="secondary" *ngIf="_authService.user | async" [routerLink]="['/messages']">Messages
            </ion-button>
            <ion-button color="secondary" *ngIf="(_authService.user | async) && _authService.user" [routerLink]="['/lists/' + _authService.userId]">My lists
            </ion-button>
                <ion-button color="secondary" *ngIf="_authService.user | async" (click)="logout()">Logout
                </ion-button>
                <ion-button color="secondary" [routerLink]="['/home']">Home</ion-button>
            <ion-button color="secondary" [routerLink]="['/games']">Games</ion-button>
            <ion-button color="secondary" [routerLink]="['/platforms']">Platforms</ion-button>
                <ion-button color="secondary" [routerLink]="['/users']">Users</ion-button>
                <ion-button color="secondary" [routerLink]="['/about']">About</ion-button>
        </ion-content>
    </ion-menu>
    <ion-router-outlet></ion-router-outlet>
</ion-app>
