<ion-app>
  <ion-menu side="start" menuId="first" contentId="menu">
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    <ion-content id="menu" class="menu" color="secondary">
        <p *ngIf="_authService.currentUser">User</p>
      <ion-list>
        <ion-button color="secondary" (click)="goToLogin()" *ngIf="!_authService.currentUser">Login</ion-button>
        <ion-button color="secondary" *ngIf="_authService.currentUser">Profile</ion-button>
        <ion-button color="secondary" *ngIf="_authService.currentUser" (click)="logout()">Logout</ion-button>
        <ion-item-option color="secondary">Register</ion-item-option>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
