<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="platform">{{platform.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container">
        <div *ngIf="platform" class="gameBackground" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.8), ' +
   'rgba(0, 0, 0, 0.7)), url(' + platform.image + ')'}">
            <h4>Number of games: {{platform.gamesCount}}</h4>
            <p *ngIf="platform.gamesCount">{{platform.description}}</p>
        </div>
    </div>
</ion-content>
