<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Your messages
            <ng-container *ngIf="numUnreadMessages != 0"> ({{numUnreadMessages}} unread messages)</ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container">
        <ion-item *ngFor="let message of messages" (click)="openMessage(message)" color="dark">
            <p *ngIf="!message.read">{{message.parseDate()}} - {{message.title}}</p>
            <p *ngIf="message.read" class="read">{{message.parseDate()}} - {{message.title}}</p>
        </ion-item>
        <ion-item *ngIf="messages.length == 0" color="dark">You have no messages</ion-item>
    </div>
</ion-content>
