<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="user">Lists of {{user.name}}</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="addList()" *ngIf="isUser">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div id="container" *ngIf="lists">
        <ion-item *ngFor="let list of lists" (click)="goToList(list.id)" color="dark">
            <ion-label>
                {{list.name}}
            </ion-label>
            <ion-label style="text-align: right" *ngIf="list.games">Games: {{list.games.length}}</ion-label>
        </ion-item>
        <ion-item *ngIf="lists.length == 0" color="dark">{{user.name}} has not created any list.</ion-item>
    </div>
</ion-content>
