<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="searchModal()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <div id="container">
        <div class="buttons">
        <ion-item color="primary">
            <ion-label>Games</ion-label>
            <ion-icon name="game-controller-outline"></ion-icon>
        </ion-item>
        <ion-item color="primary">
            <ion-label>Games</ion-label>
            <ion-icon name="game-controller-outline"></ion-icon>
        </ion-item>
        <ion-item color="primary">
            <ion-label>Games</ion-label>
            <ion-icon name="game-controller-outline"></ion-icon>
        </ion-item>
        <ion-item color="primary">
            <ion-label>Users</ion-label>
            <ion-icon name="people-outline"></ion-icon>
        </ion-item>
        </div>
    </div>
</ion-content>
