.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h3, h4 {
  text-align: center;
}

ion-item {
  margin: .5em;
}

ion-label{
  text-align: center;
}

ion-label, ion-icon{
  padding-top: .5em;
  padding-bottom: .5em;
}

ion-icon {
  font-size: 2.5em;
}

ion-item{
  display: flex;
  font-size: 1.2em;
}
