ion-card-content {
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
}

div {
  background-size: auto 200%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.labels img {
  max-width: 50px;
}

.title {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.labels {
  color: white;
  display: flex;
  flex-direction: column;
}

@media screen and (orientation: landscape) {
  div {
    background-size: auto 400%;
  }
}
