.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

ion-item {
  margin: 1em;
}

ion-label{
  text-align: center;
}

ion-label, ion-icon{
  padding-top: .5em;
  padding-bottom: .5em;
}

ion-icon {
  font-size: 2.5em;
}

ion-item{
  display: flex;
  font-size: 1.2em;
}
