<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Creating a new list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
        <form (ngSubmit)="createList()">
            <ion-item>
                <ion-label position="floating">Introduce a name for your new list</ion-label>
                <ion-input [(ngModel)]="name" type="text" name="name" required="true"></ion-input>
            </ion-item>
            <div class="buttons">
                <ion-button type="submit">Create list</ion-button>
            </div>
        </form>
    </div>
</ion-content>
