<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="list">{{list.name}} ({{games.length}} game{{games.length != 1 ? 's' : ''}})</ion-title>
        <ion-buttons *ngIf="edit" slot="secondary">
            <ion-button (click)="editList(list)">
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteList(list)">
                <ion-icon name="trash-outline" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="dark" *ngIf="games">
    <div id="container">
        <ng-container *ngIf="edit">
            <ion-reorder-group *ngIf="this._authService.user | async"
                    (ionItemReorder)="reorderItems($event)" disabled="{{!this.moveItem}}">
                <div class="game" *ngFor="let game of games; let i = index"
                     [ngStyle]="{'background-image':'url(' + game['image'] + ')'}">
                    <ion-reorder slot="start"></ion-reorder>
                    <p (click)="goToGame(game)">{{i + 1}} - {{game.title}}</p>
                    <ion-button (click)="deleteGame(game.id)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-reorder-group>
        </ng-container>
        <ng-container *ngIf="!edit">
                <div class="game" *ngFor="let game of games; let i = index"
                     [ngStyle]="{'background-image':'url(' + game['image'] + ')'}">
                    <ion-reorder slot="start"></ion-reorder>
                    <p (click)="goToGame(game)">{{i + 1}} - {{game.title}}</p>
                </div>
        </ng-container>
        <p *ngIf="games.length == 0 && edit">Your list is empty. Please search for some games and add them to the list.</p>
        <p *ngIf="games.length == 0 && !edit">This user's list is empty.</p>
    </div>
</ion-content>
