<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{title}} label suggestion</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="setLabel(localForm)">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #localForm="ngForm">
        <ion-item *ngFor="let label of labels, let i = index" color="dark">
            <ion-label>{{label.name}}</ion-label>
            <ion-checkbox [(ngModel)]="selectedLabels[i]" name="{{label.id}}">
            </ion-checkbox>
        </ion-item>
    </form>
</ion-content>
