<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-select interface="action-sheet"
                        [(ngModel)]="selectedPlatform"
                        (ionChange)="loadGames()">
                <ion-select-option value="0">All</ion-select-option>
                <ion-select-option *ngFor="let platform of platforms"
                                   value="{{platform.id}}">{{platform.name}}</ion-select-option>
            </ion-select>
            <ion-button (click)="scanGame()">
                <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="filterModal()">
                <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="searchModal()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-item color="secondary">
    <ion-label>Sort by</ion-label>
    <ion-select interface="action-sheet"
                [(ngModel)]="order"
                (ionChange)="loadGames()">
        <ion-select-option value="">Default</ion-select-option>
        <ion-select-option value="name">Title (Descending)</ion-select-option>
        <ion-select-option value="-name">Title (Ascending)</ion-select-option>
        <ion-select-option value="released">Release date (Descending)</ion-select-option>
        <ion-select-option value="-released">Release date (Ascending)</ion-select-option>
        <ion-select-option value="rating">Rating (Descending)</ion-select-option>
        <ion-select-option value="-rating">Rating (Ascending)</ion-select-option>
    </ion-select>
</ion-item>

<ion-content color="secondary">
    <div id="container">
        <h4 *ngIf="noResults">No games have been found with the specified criteria.</h4>
        <ng-container *ngFor="let game of games">
            <div class="gameBox" *ngIf="game.show" (click)="goToGame(game.id)"
                 [ngStyle]="{'background-image':'url(' + game.image + ')'}">
                <div class="title">
                    <h1>{{game.title}}</h1>
                    <h5 *ngIf="order.replace('-', '') == 'released'">{{game.released}}</h5>
                    <h5 *ngIf="order.replace('-', '') == 'rating'">{{game.ratings}} / 5</h5>
                </div>
                <div class="labels">
                    <p class="label" *ngFor="let label of game.labels">{{ label.name }}</p>
                    <ng-container *ngIf="game.labels != undefined">
                        <p *ngIf="game.labels.length == 0">This game has no labels yet</p>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreGames($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more games...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
