ion-card-content {
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
}

div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-style: solid;
  border-bottom-color: #2a2a2a;
  border-bottom-width: 1px;
}

.labels img {
  max-width: 50px;
}

h1{
  margin: 0;
}

.title {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.labels {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.labels p {
  margin: .4em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  padding: .2em;
  background-color: dodgerblue;
}

h4 {
  margin: auto;
  text-align: center;
}
